2. Halbjahr/SuD_NL/1. Big Data/10.09.2024_UE_XML/kursprogramm.dtd

<!ELEMENT kursprogramm (kurs+)>
<!ELEMENT kurs (bezeichnung, referententeam)>
<!ATTLIST kurs id ID #REQUIRED kurstyp CDATA #IMPLIED>
<!ELEMENT bezeichnung (#PCDATA)>
<!ELEMENT referententeam (referent+)>
<!ELEMENT referent (name, kontakt?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT kontakt (fon | email* | (fon, email*))>
<!ELEMENT fon (#PCDATA)>
<!ELEMENT email (#PCDATA)>
